/.cursor/tasks/Authentication_Implementation_Task.md
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/Finance Manager 2.0.iml
/.idea/modules.xml
/.idea/vcs.xml
/FinanceManager.API/docker.env
/.cursor/tasks/
